name: CI - pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.x'

      - name: Restore dependencies
        run: dotnet restore 

      - name: Build the solution
        run: dotnet build --configuration Release --no-restore

      - name: Run unit test
        run: dotnet test --configuration Release 


